# Copia este archivo como .env y rellena los valores

# Base de datos MySQL (Railway te da estos valores automáticamente)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=sistema_laboratorio

# Seguridad JWT
SECRET_KEY=cambia-esto-por-algo-seguro-123
TOKEN_MINUTOS=5

# Entorno
FLASK_ENV=production
PORT=5000
